.backgroundImage {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614626640_20-p-fon-stola-dlya-fotoshopa-31.jpg");
    background-size: cover;
    background-attachment: fixed;
}
