@model WoodStore.Domain.ViewModel.Orders.OrderViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">Номер заказа: @Model?.Id</h5>
                <p class="card-text">Номер клиента: @Model?.ClientID</p>
                <p class="card-text">Стоимость: @Model?.OrderPrice ₽</p>
                <p class="card-text"><small class="text-muted">Дата оформления заказа: @Model?.OrderDate</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text">Комментарий клиента: @Model?.ClientsComment</p>
            </div>
        </div>
    </div>
</div>